body{
  font-family:sans-serif;
  text-align: center;
  align-items: normal;
}
#ali , #hos{
  color: #1abc9c;

}
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: aqua;
background-color: #004D40;
border-radius: 4 px;
padding: 8 px;
margin: 8 px;
}
a:active {
text-decoration: none;
}
button.button{
position: relative;
left: 30 px;
float: right;
border: 10 px;
border-radius: 10%;
background-color: rgba(117, 190, 218, 0.5)
}
body.dark-mode {
  background-color: #111;
  color: #1abc9c;

}
body.dark-mode a {
  color: #111;
}
body.dark-mode button {
  background-color: #eee;
  color: #111;
}

body.light-mode {
  background-color: #eee;
  color: #111;
}
body.light-mode a {
  color: #111;
}
body.light-mode button {
  background-color: #111;
  color: #eee;
}
